<h1>New Student</h1>

<%= form_for :student, url: students_path do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </p>
  
  <p>
    <%= f.label :phone %>
    <%= f.telephone_field :phone %>
  </p>
  
  <p>
    <%= f.submit %>
  </p>
<% end %>